.hea { 
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    color: lightsalmon;
    background-color: whitesmoke;
    text-align: center;
   }
   .boi {
    font-family: 'Sriracha', cursive;
    color: saddlebrown;
    display: inline-block;
    width: 15%;
   }
   .foo{
    font-family: 'Sriracha', cursive;
    color: saddlebrown;
    display: inline;
   }
   .heaa { 
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    color: lightsalmon;
   }