.hea { 
    font-family: 'Patrick Hand', cursive;
    font-size: 100px;
    color: lightsalmon;
    background-color: whitesmoke;
    text-align: center;
   }
   .boi {
    font-family: 'Sriracha', cursive;
    color: saddlebrown;
   }